// Font loading
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend'),
       url('@/public/fonts/lexend-regular.woff2') format('woff2'),
       url('@/public/fonts/lexend-regular.woff') format('woff');
}
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lexend'),
       url('@/public/fonts/lexend-700.woff2') format('woff2'),
       url('@/public/fonts/lexend-700.woff') format('woff');
}
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Lexend'),
       url('@/public/fonts/lexend-800.woff2') format('woff2'),
       url('@/public/fonts/lexend-800.woff') format('woff');
}


// More things
$pink: #ed3f7a;
$background-dark: #261D2D;
$background-light: #fff;
$text-dark: #eeedef;
$space-grey: #49424E;

html {
  .el-result {
    --el-result-padding: 0rem;
    --el-result-icon-font-size: 2rem;
    --el-result-title-margin-top: 0rem;
  }
  font-family: 'Lexend';
  //color: $text-dark;
  a {
    //color: $text-dark;
  }
  body {
    font-family: 'Lexend', serif;
    margin: 0px;
  }
}

.centered {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
  align-items: center;
  h2 {
    margin: 0;
    padding: 0;
  }
  a {
    cursor: pointer;
  }
}

.el-steps {
  max-width: 600px;
  margin: auto;
  margin-bottom: 1rem;
}
