// More things
$pink: #ed3f7a;
$background-dark: #261D2D;
$background-light: #fff;
$text-dark: #eeedef;


$space-grey: #49424E;
html {
  font-family: 'Lexend';
  //color: $text-dark;
  a {
    //color: $text-dark;
  }
  body {
    margin: 0px;
  }
}
